/* 搜索栏 start */
.headerContainer {
  display: flex;
  width: 100%;
  margin: 35upx 0 25upx 0upx;
  padding: 0 40upx 0 40upx;
}

.headerContainer .search {
  display: flex;
  margin-top: 0upx;
  width: 100%;
  justify-content: space-between;
}

.headerContainer .logo image {
	border-radius: 40px;
  width: 55upx;
  height: 55upx;
}

.headerContainer .search_input {
  /* margin-right: 20upx; */
}

.headerContainer .search input {
  width: 520upx;
  height: 45upx;
  padding-left: 10upx;

  font-size: 14px;
  border-radius: 30upx;
  border: 4upx solid #757575;
}

.search .search_icon {
  margin-top: 8upx;
}

.headerContainer image {
  width: 40upx;
  height: 40upx;
}

/* 搜索栏 end */

/* 轮播图 start */

swiper {
  margin: 0 auto;
	margin-top: 60upx;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

swiper-item {
}

swiper-item image {
  width: 100%;
  height: 400upx;
}
/* 轮播图 end */

/* 功能 start */
.special_column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40upx;
}

.column_item {
  width: 120upx;
  text-align: center;
  font-size: 14px;
}

.column_item image {
  width: 64upx;
  height: 64upx;
}

/* 功能 end */

/* 搜索 start*/
.hot_words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* padding: 20upx 65upx 0 65upx; */
  border-top: 5upx solid #ababab;
  margin-top: 50upx;
}

.hot_words .hot_title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30upx;
  margin: 30upx 65upx 30upx 65upx;
}

.hot_words .hot_item {
  width: 86%;
  height: 210upx;
  margin: 0upx 0 50upx 65upx;
}

.hot_item .item_title {
	width: 440upx;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10upx;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.hot_item .item_content {
  display: flex;
  justify-content: space-between;
}

.hot_item .item_content_info {
  width: 445upx;
  font-size: 14px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.hot_item .item_content_img {
  /* padding-left: 5upx; */
}

.hot_item .item_content_img image {
  width: 170upx;
  height: 150upx;
}

/* 搜索 end */
