.pageContainer {
  padding: 0 40upx;
}
.cardList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500upx;
  margin-top: 0upx;
  width: 100%;
  background-color: white;
  padding: 25upx;
  padding-left: 35upx;
  border-radius: 50upx;
  box-shadow: 10upx 15upx 5upx #eeeeee;
}
.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.title {
  font-size: 36upx;
}
.more {
  width: 20px;
  height: 16px;
}
