.myPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40upx;
}
.login-info-box {
  margin-top: 150upx;
}
.portrait {
  width: 200upx;
  height: 200upx;  
  border-radius: 99px;
}
.info-box {
  text-align: center;
}
.cardList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500upx;
  margin-top: 100upx;
  width: 100%;
}
.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 40upx;
}
.more {
  width: 20px;
  height: 16px;
}

button{
	background-color: #007AFF;
	font-size: 17px;
	color: white;
	margin-top: 30upx;
	width: 270upx;
	line-height: 90upx;
	height: 90upx;
}